<ion-view view-title="客户管理">
    <ion-nav-bar class="bar-stable" >
        <ion-nav-back-button icon="ios">
            Back
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content scroll="false">
        <div class="goOtherPageLinks">
            <div class="goOtherPageLink" ng-click="toCustomerCom()">
                <p><img src="img/manageCustomer/1@3x.png"/></p>
                <p>用户评论管理</p>
            </div>
            <div class="goOtherPageLink">
                <p><img src="img/manageCustomer/2@3x.png"/></p>
                <p>用户管理</p>
            </div>
            <div class="goOtherPageLink" ng-click="toMsgOth()">
                <p><img src="img/manageCustomer/3@3x.png"/></p>
                <p>用户私信</p>
            </div>
        </div>
    </ion-content>
</ion-view>