<ion-view view-title="确认发货">
    <ion-nav-bar class="bar-stable">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>

    <ion-content class="padding receiptGoodsHome">

    </ion-content>
    <div class="tabs bar-footer receiptGoodsHomeFooetr">
        <a class="tab-item"  ng-click="deliveryRecords()">
            <span class="receiptGoodsHomeTabs tabsLlist pr">
                <img src="img/receiptGoods/list.png" alt="">
            </span>
            <span>发货履历</span>
        </a>
        <a class="tab-item"  ng-click="handDeliverGoods()">
            <span class="receiptGoodsHomeTabs tabsHand pr">
                <img src="img/receiptGoods/hand.png" alt="">
            </span>
            <span>手动发货</span>
        </a>
    </div>
</ion-view>